.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 0;
}
.itens{
    display: flex;
    gap: 25px;
}
.botao{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #BE580F;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.cabecalho img{
    width: 200px;
}

.hero{
    width: 100vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("assets/capa.jpeg");
    flex-direction: column;
    gap: 10px;
}

.hero h1{
    color: white;
    font-weight: 800;
    font-size: 4rem;
}
.hero p{
    color: white;
}
*{
    margin:0;
}
.pesquisa{
    padding: 1vh 5vw 1vh 1vw;
    border: none;
    outline: #BE580F;
    font-size: 1rem;
    border-radius: 10px;
    width: 400px;
}
.input_container{
    padding: 2vw;
    border-radius: 20px;
    background-color: rgba(213, 213, 213, 0.628);
}
.livros{
    height: 100vh;
    padding: 2vw;
}
.card{
    background-color: gray;
    width: 100px;
    height: 150px;
    border-radius: 15px;
    color: white;
}