*{ 
     margin:0;
}

.header{
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 10vw;
     padding-right: 10vw;

}

.header ul{
     display: flex;
     gap: 2vw;
}

.header a{
     text-decoration: none;
     font-weight: 500;
}

.body1, .body2{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5vw;
     height: 100vh;
     width: 100%;
}

.body1{
     background-color: rgba(255, 255, 255, 0.881);
}
.body2{
     background-color: rgba(228, 234, 255, 0.433);
}


.aside{
     background-color: green;
     width: 10vw;
     height: 100%;
}
.footer{
     background-color: black;
     height: 15vh;
     color: white;
     display: flex;
     padding-left: 10vw;
     padding-right: 10vw;
     align-items: center ;
}

.cardP , .cardM , .cardG{
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     background-color: white;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.cardP{
     width: 15vw;
     height: 20vh;
}

.cardM{
     width: 25vw;
     height: 30vh;
}
.cardG{
     width: 35vw;
     height: 40vh;
}